//底部导航栏
$hover-color: #6de7ff;
$clicked-color: #2eedd8;
$bottom-nav-height: 50px;

//帖子
$border-color: #d7d7d7;

//全局变量
$bg-color: #E9EEF3;
$font-color: #333;
$icon-hover-color: #3dd2ec;
$warning-font-color: #eb1f1f;

//element滑轮
 /deep/ .el-scrollbar__wrap {
    overflow-x: hidden;
}